<h1>Books</h1>
 <p>Title</p><p>Body</p>

<% @books.each do |book| %>

 <span><%= book.title %></span><span><%= book.body %></span>
 <span><%= link_to "Show", show_book_path(book.id) %></span>
 <span><%= link_to "Edit", edit_book_path(book.id) %></span>
 

<% end %>