<div class = "Show_page">
<div class = "flash_message">
 <%= flash[:notice] %>
</div>

<p><strong>Title</strong>:<%= @book.title %></p>
<br>
<p><strong>Body</strong>:<%= @book.body %></p>
<br>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a href= "/books">Back</a>

</div>