/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.Top_page, .Books, .Next_book, .Show_page,.Edit_page {
  margin: 20px;
}

.Books {
  margin: 20px;
}

.table {
  width: 80%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

th, td {
  height: 30px;
}

.New_book {
  margin: 20px;
}

.title_box, .body-box {
  margin-bottom: 20px;
}

.flash_message {
  color: green;
  margin: 30px;
}
